.dashboard-breadcrumb {
  padding: 20px 0 15px;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  justify-content: start;
  li {
    display: flex;
    align-items: center;
    &::before {
      font-size: 12px;
      color: #9b9b9b;
      line-height: 1.58334;
      margin-inline: 5px;
      @include rtl {
        content: ">";
      }
      @include ltr {
        content: "<";
      }
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
  }
  a {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.58334;
    @include focus(#9b9b9b);
    &:hover {
      color: $primaryColor;
    }
  }
}
