.buttons-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .dashboard-form & {
    justify-content: start;
  }
}

.default-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 22px;
  min-width: 135px;
  height: 50px;
  border-radius: 25px;
  background-color: $primaryColor;
  font-size: 16px;
  font-weight: 700;
  @include focus(#fff);
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
  &.form-btn {
    min-width: 84px;
  }
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 22px;
  min-width: 135px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(#c2c2c2, 0.1);
  font-size: 16px;
  font-weight: 700;
  @include focus(#c2c2c2);
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
}

.dashboard-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 22px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background-color: #f3f2f2;
  font-size: 16px;
  font-weight: 700;
  @include focus($textColor);
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 22px;
  min-width: 140px;
  height: 48px;
  border-radius: 24px;
  background-color: $primaryColor;
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
  margin-inline-start: auto;
  @include focus(#fff);
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
  &:disabled {
    background-color: #f5f5f5;
    color: #c2c2c2;
    cursor: not-allowed;
  }
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 30px;
  height: 48px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid $primaryColor;
  font-size: 14px;
  font-weight: 700;
  margin-inline-start: auto;
  margin-bottom: 30px;
  @include focus($primaryColor);
  &:hover {
    background-color: $primaryColor;
    color: #fff;
  }
}

.checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 30px;
  min-width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: $primaryColor;
  font-size: 18px;
  font-weight: 700;
  margin-inline-start: auto;
  @include focus(#fff);
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
  &:disabled {
    background-color: #f5f5f5;
    color: #c2c2c2;
    cursor: not-allowed;
  }
  @include xs{
    width: 100%;
  }
}
