.custom-slider {
  position: relative;

  .swiper-btn {
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &::after {
      display: none;
    }
    &.swiper-button-prev {
      right: -60px;
      left: auto;
    }
    &.swiper-button-next {
      left: -60px;
      right: auto;
    }
    &:hover {
      background-color: $primaryColor;
    }
    @media (max-width: 1271px) {
      display: none;
    }
  }
  .swiper-pagination {
    position: relative;
    inset: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    @include xs {
      margin-top: 25px;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: rgb(0, 0, 0);
      opacity: 0.5;
      margin: 0;
      transition: all 0.3s ease-in-out;
      &.swiper-pagination-bullet-active {
        background-color: $primaryColor;
        opacity: 1;
      }
    }
  }
}
.main-slider {
  .swiper-pagination {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0;
    @include sm {
      bottom: 10px;
    }
  }
}
