.dashboard_table-responsive {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  @include sm {
    padding-bottom: 8px;
    max-width: 100%;
    overflow-x: auto;
  }
}
.dashboard_table-content {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.dashboard-table {
  width: 100%;
  @include sm {
    min-width: 850px;
  }
  tr {
    &:last-of-type {
      td {
        border-bottom: none;
      }
    }
  }
  th,
  td {
    padding: 14px 15px;
    min-height: 50px;
    font-size: 14px;
    &:has(.table-switch) {
      padding-block: 10px;
    }
    &:first-of-type {
      padding-inline-start: 20px;
    }
    &:last-of-type {
      padding-inline-end: 20px;
    }
    @include sm {
      min-height: auto;
      padding: 15px 10px;
      font-size: 12px;
      &:has(.table-switch) {
        padding-block: 5px;
      }
      &:first-of-type {
        padding-inline-start: 15px;
      }
      &:last-of-type {
        padding-inline-end: 15px;
      }
    }
  }

  th {
    white-space: nowrap;
    background-color: $secondaryColor;
    font-weight: 700;
    color: #fff;
  }

  td {
    background-color: #fff;
    font-weight: 400;
    color: $textColor;
    vertical-align: top;
    max-width: 160px;
    border-bottom: 1px solid #ececec;
  }

  .table-contact {
    @include focus(inherit);
    &:hover {
      color: $primaryColor;
    }
  }

  .table-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 20px;
    margin: 0 auto;
    @include focus(#a8a8a8);
    &:hover {
      color: $primaryColor;
    }
  }

  .table-switch {
    cursor: pointer;
    display: flex;
    .slider {
      cursor: pointer;
      width: 73px;
      height: 28px;
      border-radius: 14px;
      background-color: #a8a8a8;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        top: 3px;
        inset-inline-start: 3px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
      }
      @include sm {
        width: 65px;
      }
    }
    .text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      font-weight: 700;
      display: block;
      text-align: center;
      width: 32px;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &.on {
        inset-inline-start: 10px;
        visibility: hidden;
        opacity: 0;
      }
      &.off {
        inset-inline-end: 10px;
      }

      @include sm {
        font-size: 10px;
        width: 27px;
      }
    }
    input {
      display: none;
      &:checked {
        + .slider {
          background-color: #00c851;
          &::after {
            inset-inline-start: calc(100% - 25px);
          }
          .text {
            &.on {
              visibility: visible;
              opacity: 1;
            }
            &.off {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .table-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    svg {
      fill: currentColor;
      width: 14px;
      @include sm {
        width: 12px;
      }
    }
  }

  .table-status {
    position: relative;
    transform: perspective(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    border-radius: 12px;
    padding: 0 10px;
    width: fit-content;
    color: var(--color);
    font-weight: 600;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color);
      opacity: 0.2;
      z-index: -1;
    }
  }
}
