.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
  @include cus-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xs {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  @include xxs {
    grid-template-columns: 1fr;
  }
}
.dashboard-card {
  padding: 20px 23px 23px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  :last-child {
    margin-bottom: 0;
  }
  @include xs {
    padding: 20px 15px;
  }
  @include xxs {
    padding: 20px;
  }
  .card-title {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    color: $textColor;
    font-weight: 600;
    line-height: 1.5714;
    gap: 10px;
    margin: 0 0 7px;
    i {
      font-size: 18px;
      color: #c5c5c5;
    }
  }
  .card-value {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1.63334;
    color: $textColor;
    margin: 0 0 6px;
    @include xs {
      font-size: 24px;
    }
    @include xxs {
      font-size: 30px;
    }
  }
  .card-status {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.58334;
    color: $textColor;
    i {
      width: 24px;
      height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 9px;
      background-color: rgba($textColor, 0.1);
      @include xs {
        width: 17px;
        font-size: 10px;
      }
      @include xxs {
        width: 24px;
        font-size: 12px;
      }
    }
    &.up {
      color: #00c851;
      i {
        background-color: rgba(#00c851, 0.1);
      }
    }
    &.down {
      color: #dc2829;
      i {
        background-color: rgba(#dc2829, 0.1);
      }
    }
  }
  &.top-branch {
    border-color: #f4d605;
    .card-title {
      i {
        color: #f4d605;
      }
    }
    .card-status {
      color: #f4d605;
      i {
        background-color: rgba(#f4d605, 0.1);
      }
    }
  }
}

.order_details-main {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
}
.order_main-head {
  padding: 0 30px;
  height: 50px;
  font-size: 14px;
  background-color: $secondaryColor;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  @include xs {
    height: 48px;
    padding: 0 20px;
  }
  i {
    font-size: 18px;
  }
}
.order_main-body {
  padding: 20px 30px 28px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-top: none;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px 88px;
  @include sm {
    gap: 10px 15px;
  }
  @include xs {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .order_main-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
    font-size: 14px;
    line-height: 1.5714;
    color: $textColor;
  }
  .title {
    font-weight: 400;
    @include xs {
      font-size: 12px;
    }
  }
  .value {
    font-weight: 700;
    a {
      direction: ltr;
      @include focus(inherit);
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .status {
    position: relative;
    transform: perspective(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    border-radius: 12px;
    padding: 0 10px;
    width: fit-content;
    color: var(--color);
    font-weight: 600;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color);
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.orders-table {
  margin-bottom: 30px;
}

.exclamation-hint {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 15px 20px;
  background-color: rgba(#e9ca00, 0.071);
  border: 1px solid #e9ca00;
  border-radius: 5px;
  font-size: 14px;
  color: $textColor;
  margin-bottom: 30px;
  i {
    color: #e9ca00;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include xs {
      font-size: 18px;
    }
  }
  @include xs {
    padding: 10px 15px;
  }
}
.dashboard_checkout {
  padding: 30px 30px 43px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  :last-child {
    margin-bottom: 0;
  }
  @include xs {
    padding: 20px 15px;
  }
  @include xxs {
    padding: 20px;
  }
}

.dashboard_packages {
  padding: 34px 30px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  :last-child {
    margin-bottom: 0;
  }
  @include xs {
    padding: 20px 15px;
  }
  @include xxs {
    padding: 20px;
  }
}

.money-cards {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  @include sm {
    gap: 10px;
  }
  @include xs {
    flex-direction: column;
  }
}

.money_card-item {
  flex: 1;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 23px 23px 17px;
  .head {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    color: $textColor;
    margin: 0 0 8px;
    i {
      font-size: 18px;
      color: #c5c5c5;
    }
  }
  .value {
    font-size: 30px;
    font-weight: 700;
    color: $textColor;
    line-height: 1.633334;
    margin: 0;
  }
}
